{% extends 'basketapp/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="basket_list">
    {% include 'basketapp/includes/inc_basket_list.html' %}
</div>

<p class="text-right">
    <a href="{% url 'index' %}" class="btn">Продолжить Шопинг</a>
    <a href="{% url 'basket:order_create' %}" class="btn">Оформить заказ</a>
 </p>


   
    <button class="btn btn-info">
            <a href="{% url 'index' %}">
                на главную
            </a>
    </button>


{% endblock %}
